
// no se puede usar en pdf 
// ver /src/templates/print.css

#preview 
{   
    top: 50px;
    // padding: 30px;
    font-family: Roboto; 
}

#paperBox {
    margin: 0 auto;
    margin-top: 15px;
    width: 891px;
    // border: 1px solid blue;;
    box-shadow: 0 0 30px rgba(24, 21, 21, 0.5);
}

#preview #paper {    
    width: 99.5%;
    // width: 90%;
    // height: 891px;
    // width: 21cm;
    // height: 29.7cm;
    margin: 0 auto;
    background: white;
    display: block;    
    line-height: 1.5em;
    word-spacing: 3px;
    letter-spacing: 2px;    
    font: 13px Arial, Helvetica,"Lucida Grande", serif;    
    color: #000;
    // border: 1px solid black;
    box-sizing: border-box;
    padding: 40px 30px;
}
    

#preview #paper {

    .ejercicios {
        margin-top: 20px;
        margin-left: 10px;
        width: auto;
        display: flex;
        flex-wrap: wrap;

        .boxOperacion {
            flex: 50%;
            font-size: 9px;
        }
    }

    .title {
        position: relative;
        width: auto;
    }
    
    .title img {
        // height: 1.8cm;
        height: 100px;
        margin-top: 0;
        margin-bottom: 5mm;
    }
    
    .title img.right {
        position: absolute;
        height: 42px;
        top: 47px;
        right: 30px;
    }

    .input {
        display: inline-block;
        position: relative;
        top: -4px;
        width: 60px;
        height: 40px;
        border: solid 1px black;
        border-radius: 6px;
        margin-bottom: 0;
        margin: 0 3px;
    }

    .operando, .simbolo, 
    .simbolo.parentesis.inicial {
        margin-right: 0.3rem;
    }
    .simbolo.parentesis.final {
        margin-right: 0;
    }
    .simbolo{
        margin-right: 0.5rem;
    }
    .simbolo.igual{
        margin-right: 0.3rem;
    }


    // .simbolo, .input, .operando    
    // {
    //     margin: 0 5px;
    // }
    // .simbolo.parentesis, .simbolo.igual {
    //     margin: 0;
    // }
    
    p.operacion.f-operacion {
        display: block;
        // margin-top: 0.5rem;
        font: 9pt/24pt Roboto;
        // font: 11pt/24pt Roboto; // genera pagina adicional en blanco
        // font-size: 10px;
    }   

    // .page {
    //     page-break-before: always;
    // }

    a:link, a:visited {
        background: transparent;
        color:#333;
        text-decoration:none;
    }

    a:link[href^="https://"]:after, 
    a[href^="https://"]:visited:after,
    a:link[href^="http://"]:after, 
    a[href^="http://"]:visited:after {
        content: " (" attr(href) ") ";
        font-size: 11px;
    }

    
    a[href^="http://"],
    a[href^="https://"] {
        color:#000;
    }

    .fondo {
        background-image: url('../src/img/fondoA4-margenes_300dpi.png');
        background-position: bottom;
        background-size: 210mm 267mm;
        background-repeat: repeat-y;
    }

    hr {
        display: none;
        break-after: always;
    }
    

    // .input {
    //     display: inline-block;
    //     position:relative;
    //     top: 5mm;
    //     width: 2cm; 
    //     height: 15mm;
    //     border: solid 1px black;
    // }
    
    .boxOperacion{ 
        // min-width: 8cm;   
        // float: left; 
        // margin-left: 10mm; 
        margin-bottom: 10px;
        padding-left: 5px;
        // border: 1px solid black;

    }
    .soluciones {
        padding: 15px;
        display: none;        
    }

    .solucionesEjercicio {
        font: 11px/24px Roboto;
    }

    .tableSolucion {
        width: 100%;
    }

    .incognita, .resto {
        text-align: left;
        font: 9pt/24pt Roboto;
    }

    .tableSolucion {
        margin-bottom: 5rem;
    }

    .tablaEjercicios {
        width: 100%;
        height: 1190px;
        margin-bottom: 60px;
    }
    .tablaEjercicios.primera {
        height: 1000px;
        margin-top: 50px;
    }

}

