

paper-radio-group, .ib-radio-group {
    display: block;
    padding: 1em;
    border: 1px solid grey;
    background-color: bisque;
}

paper-radio-button  {
    background-color: white;
    border: 1px solid grey;
    /* 
    --paper-radio-button-unchecked-background-color: var(--primary-color);
    --paper-radio-button-unchecked-color: var(--secundary-color);
    --paper-radio-button-unchecked-ink-color: #0f0;
    --paper-radio-button-checked-color: var(--primary-color);
    --paper-radio-button-checked-ink-color: var(--primary-color);
    --paper-radio-button-size: 5em;
    --paper-radio-button-ink-size: 200px;
    --paper-radio-button-label-color: green;
    --paper-radio-button-label-spacing: -4em; 
    --paper-radio-button-radio-container: {
        background-color: var(--jar,red);
        border: var(--jar,blue);
        padding: 100px;
    };

    --primary-color: black; // funciona
    --padi: 100px; // no funciona 
    --color: blue; // tampoco

    --paper-radio-button-label: {
        background-color: var(--color);
        border: var(10px solid var(--primary-color), 1px solid black);
        padding: var(--padi);
        color: var(--primary-color);
        contents: 'a';
    };

    --paper-radio-button-label-checked: {
        background-color: var(--jar,red);
        border: var(--jar,blue);
        padding: 100px;
    };
    */
}
